{% extends "shop/base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}


{% block content %}
    <div class="product-detail row">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
            class="col-md-4 col-12 img-fluid">
        <div class="col-md-8 col-12">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
            </h2>
            <p class="price">${{ product.price }}</p>
            <form class="form-inline" action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_product_form.quantity }}
                {{ cart_product_form.update }}
                <button class="btn btn-success" type="submit">Add to cart</button>
                {% csrf_token %}
            </form>
            {{ product.description|linebreaks }}
        </div>
    </div>
{% endblock %}